<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../Content/Login.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/js/Home.js"></script>
    <link href="../Content/style.css" rel="stylesheet" />
</head>
<!--<body>
    <label>Welcome </label>
    <label id="uname"></label>

</body>-->

<body>
    <div id="header"></div>

    <div id="content">
        <div id="home" class="text">
            <h1>Amazing grungy slide out stuff</h1>

        </div>
        <div id="about" class="text" style="display:none;">
            <h1>Some amazing about section</h1>

        </div>
        <div id="search" class="text" style="display:none;">
            <h1>Search the world!</h1>

        </div>
        <div id="photos" class="text" style="display:none;">
            <h1>Some awesome photos</h1>

        </div>
        <div id="contact" class="text" style="display:none;">
            <h1>Get in touch</h1>

        </div>
       
    </div>
    <ul id="navigation">
        <li class="home"><a title="Home">Home</a></li>
        <li class="about"><a title="About">About</a></li>
        <li class="search"><a title="Search">Search</a></li>
        <li class="photos"><a title="Photos">Photos</a></li>
        <li class="contact"><a title="Contact">Contact</a></li>
        
    </ul>


</body>
</html>